@import 
url( "https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,600&display=swap");

body{

  background-color:rgb(194, 181, 155);
  Font-Family: 'Playfair Display', Serif;
  font-size: large;
}
  h1{ 
    color: rgb(104, 121, 74)
    ;}

 .image img{ 
  width:300px; 
   border-radius: 300px;
   height: 300px; 
   display:flex;
   }  

  
.col1{
width: 50px;
height: 50PX;
padding-right: 700px;
} 
.text{ 
  color: aquamarine;
  padding-left: 700px;
}
