@import 
url( "https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,600&display=swap");

 
 
 *{ 

  background-color:antiquewhite !important;
  font-family: 'Playfair Display', Serif !important;
  font-size: xx-large !important;

}

